.container {
    /* color: rgb(238, 255, 0);
    width: 1000px;
    height: 500px;
    background-image: url("dp.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    position: fixed;
    margin: auto;
    /* border: 2px solid red; */
    height: 100vh;
    width: 100vw;
    background: url(dp.png) no-repeat;
    background-size: 100%;

}